# Mac Users must run "brew install freetds prior to running requirements.
dash==1.6.0
dash-html-components==1.0.1
dash-core-components==1.5.0
dash-table==4.5.0
beautifulsoup4==4.8.1
jenkinsapi==0.3.11
lxml==4.4.1
cython==0.29.14
pymssql==2.1.4
python-dateutil==2.8.1
keyring==19.2.0
jsonpickle==1.2
sphinx==2.3.0
sphinxcontrib-napoleon==0.7
