.database-spreadsheet-container {
    overflow: scroll;
    max-width: 100%;
}

.dash-spreadsheet-container {
    z-index: 0;
}

.dash-spreadsheet-container * tr:nth-child(1) * .column-header-name {
    font-size: medium;
    font-family: sans-serif;
    font-weight: 600;
}

.dash-spreadsheet-container * tr:nth-child(2) * .column-header-name{
    font-size: small;
    font-family: sans-serif;
}

.dash-spreadsheet.dash-freeze-top, .dash-spreadsheet.dash-virtualized {
    max-height: 100vw !important;
}