#failure-output-table {
    height: 100%;
    width: 100%;
    display: contents;
}

#failures-data-table {
    max-width: 100%;
    max-height: 80vh;
    margin-left: 12px;
    margin-right: 12px;
}

#failures-data-table > .dash-spreadsheet-menu {
    display: none;
}

#update-resolution-btn {
    margin: 12px;
}

#update-resolution-info {
    color: #A33;
    white-space: normal;
    font-size: large;
    max-width: 550px;
    margin: 20px 50px 10px 50px;
}

#resolution-dropdown {
    position: absolute;
    width: 275px;
    transform: translateX(50px);
}

.failures-table-btn {
    margin-left: 12px;
    margin-right: 12px;
}

#failure-row-counts-container {
    display: flex;
    justify-content: space-evenly;
    color: green;
    font-weight: 600;
    margin-top: 12px;
}
