.modal {
    border: ridge #ddd 2px;
    border-radius: 10px;
    min-height: 200px;
    min-width: 500px;
    transform: translate(-50%, -50%);
    top: 200px;
    left: 50%;
    position: absolute;
    background: #FFF;
    z-index: 9999;
}

.modal-header {
    text-align: center;
}

.modal-title {
    font-family: Arial, serif;
    font-size: x-large;
    text-align: center;
    padding: 8px;
    color: #888;
    font-weight: 600;
}

.modal-close-btn {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    border: none;
    opacity: 0.3;
    float: right;
    position: relative;
    top: 5px;
    right: 5px;
    background-color: transparent;
}

.modal-close-btn:hover {
    opacity: 0.9;
}

.modal-close-btn:after {
    content: '';
    height: 100%;
    border-left: 3px solid #800;
    position: absolute;
    transform: rotate(45deg);
    top: 0;
}

.modal-close-btn:before {
    content: '';
    height: 100%;
    border-left: 3px solid #800;
    position: absolute;
    transform: rotate(-45deg);
    top: 0;
}

.modal-submit-btn {
    float: right;
    font-size: large;
    margin: 0px 10px 10px 0px;
}

.modal-submit-btn:hover {
    border-color: #080;
    border-width: 2px;
}

.disable-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: white;
    pointer-events: none;
}